@media (hover: none) {
  .shuffle-link {
    pointer-events: auto; /* Disables hover interactions */
  }
}

::selection {
  background: #FFBF00;
  color: #000;
}

/* LOCAL IMPORT */
@font-face {
    font-family: 'JK Quarry Beta';
    src: url('assets/JKQuarryBeta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* GOOGLE FONTS IMPORT  */
.inter-<uniquifier> {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1 {
	color: #404040;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 7px 0;
}

h2 {
	color: #404040;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

h2 span {
	color: #999;
}

p {
	color: #404040;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	line-height: 24px; /* 141.176% */
	letter-spacing: -0.051px;
	text-wrap: balance;
}

.container {
	display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
	padding: 64px 64px 32px 64px;
	box-sizing: border-box;
	transition: padding 0.15s ease; 
}

.content {
	width: 100%;
	max-width: 640px;
	flex: 1; /* Pushes the footer down */
}

@media (width <= 800px) {
	.container {
		display: flex;
	    flex-direction: column;
	    min-height: 100vh; /* Full viewport height */
		padding: 32px;
		box-sizing: border-box;
		transition: padding 0.15s ease; 
	}
}

header {
	margin: 32px 0 24px 0;
}

.logotype {
	margin: -10px -10px -10px -12px;
}
/* LINKS */

.links {
	margin-top: 52px; /* 64px minus the 12px from margin-top of shuffle-link  */
}

footer {
	color: #999;
	font-size: 13px;
	font-weight: 400;
	margin: 64px 0 0 0;
	height: 24px;
}

.shuffle-link {
	font-family: "JK Quarry Beta";
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 32px;
	text-decoration: none;
	color: #404040;
	display: inline-block;
	transition: background-size 0.3s ease;
	background: #EEEFF5;
	padding: 20px;
	border-radius: 12px;
	margin: 12px 12px 0 0;
}

.shuffle-link:hover {
  color: #fff;
  background: #404040;
  cursor: pointer;
}

.shuffle-link span{
  display: inline-block;
  transition: transform 0.15s ease;  
}

.inactive-link {
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	font-family: "JK Quarry Beta";
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 32px;
	text-decoration: none;
	color: rgba(64, 64, 64, 0.33);
	transition: background-size 0.3s ease;
	background: #EEEFF5;
	padding: 20px;
	border-radius: 12px;
	margin: 12px 12px 0 0;
	cursor: not-allowed;
}

.inactive-link span{
	color: #404040;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	letter-spacing: 0;
	font-style: normal;
	text-transform: none;
	font-size: 12px;
	text-decoration: none !important;
	display: flex;
	padding: 4.5px 10px 3.5px 10px;
	background: #fff;
	border-radius: 12px;
	margin: 0 0 0 16px;
}